<h1><%= @monster.name %></h1>

<p>Health: <%= @monster.health %></p>
<%= image_tag @monster.image_url %>
<br>
<%= link_to "[Edit]", edit_monster_path( @monster.id ) %>
<%= link_to "[Delete]", monster_path( @monster.id ), method: :delete, data: { confirm: "Are you super-monster-sure?" } %>
